@import "./variable";

body {
  margin: auto;
}

figure {
  margin: 0;
}

body,
a,
button {
  // font-family: "Public Sans";
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

ul {
  @include reset-list;
}

img {
  width: 100%;
}

.paragraph {
  color: $grayish-blue;
  line-height: 20px;
  font-weight: $lighter;
}

button {
  cursor: pointer;
}

.heading {
  color: $dark-blue;
  font-weight: $regular;
}

.request-button {
  color: $white;
  background: linear-gradient(90deg, $lime-green, $bright-cyan);
  border: none;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.title {
  @include common-background-style;
  display: block;
  background-position-y: center;
  cursor: pointer;
  width: 145px;
}
