@import "./variable";

body {
  margin: auto;
}

body,
a,
button {
  font-family: "Public Sans";
}

ul {
  @include reset-list;
}

img {
  width: 100%;
}

.paragraph {
  color: $grayish-blue;
  font-weight: $lighter;
}

button {
  cursor: pointer;
}

.request-button {
  color: $white;
  background: linear-gradient(90deg, $lime-green, $bright-cyan);
  border: none;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
