@import "./variable";

body {
  max-width: 1440px;
  margin: auto;
}

figure {
  margin: 0;
}

body,
a,
button {
  font-family: "myFont", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  @include reset-list;
}

img {
  width: 100%;
}

.paragraph {
  color: $grayish-blue;
  line-height: 20px;
  font-weight: $lighter;
}

button {
  cursor: pointer;
}

.heading {
  color: $dark-blue;
  font-weight: $regular;
}

@keyframes move {
  0% {
    background: linear-gradient(36deg, $lime-green, $bright-cyan);
  }

  50% {
      background: linear-gradient(360deg, $lime-green, $bright-cyan);
  }

  100% {
    background: linear-gradient(0deg, $lime-green, $bright-cyan);
  }
}

.request-button {
  color: $white;
  background: linear-gradient(90deg, $lime-green, $bright-cyan);
  border: none;
  padding-left: calc(18px / 2);
  padding-right: calc(18px / 2);
  padding-top: calc(8px / 2);
  padding-bottom: calc(8px / 2);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  transition: all ease-in 0.2s;
}

.request-button:hover {
  background: linear-gradient(90deg, $lime-green, $bright-cyan);
  opacity: 0.5;
  transition: all ease-in 0.2s;
}

.title {
  @include common-background-style;
  display: block;
  background-position-y: center;
  background-size: 100%;
  cursor: pointer;
  width: 145px;
  max-width: 100%;
}

@media (min-width: $mobile) {
  .request-button {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .title {
    width: 145px;
  }
}

@media (min-width: $desktop) {
  .paragraph {
    line-height: 25px;
  }

  .request-button {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
