@import "./variable";

footer {
  text-align: center;
  background-color: $dark-blue;
  padding-top: calc(10px / 2);
  padding-bottom: calc(40px / 2);
  padding-left: calc($padding-left-mobile / 2);
  padding-right: calc($padding-right-mobile / 2);
}

.footer__title {
  background-image: url("#{$image-path}logo-white.svg");
  margin: auto;
}

.social__media--list {
  display: flex;
  place-content: center;
  flex-wrap: wrap;
}

.social__media--link {
  @include common-background-style;
  display: block;
  width: 23px;
  height: 23px;
}

.social__media--link,
.social__media--link:hover {
  transition: all linear 0.2s;
}

.social__media--list-item {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.facebook_icon {
  background-image: url("#{$image-path}icon-facebook.svg");
}

.youtube_icon {
  background-image: url("#{$image-path}icon-youtube.svg");
}

.twitter_icon {
  background-image: url("#{$image-path}icon-twitter.svg");
}

.pinterest_icon {
  background-image: url("#{$image-path}icon-pinterest.svg");
}

.instagram_icon {
  background-image: url("#{$image-path}icon-instagram.svg");
}

// Hovered styles
.facebook_icon:hover {
  background-image: url("#{$image-path}icon-facebook-hover.svg");
}

.youtube_icon:hover {
  background-image: url("#{$image-path}icon-youtube-hover.svg");
}

.twitter_icon:hover {
  background-image: url("#{$image-path}icon-twitter-hover.svg");
}

.pinterest_icon:hover {
  background-image: url("#{$image-path}icon-pinterest-hover.svg");
}

.instagram_icon:hover {
  background-image: url("#{$image-path}icon-instagram-hover.svg");
}

.footer__section--two {
  margin-top: calc(30px / 2);
  margin-bottom: calc(30px / 2);
}

.footer__list--item,
.a11y__list--item {
  margin-top: calc(20px / 2);
  margin-bottom: calc(20px / 2);
}

.nav__link,
.a11y__link {
  color: $light-grayish-blue;
  line-height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav__link:hover,
.a11y__link:hover {
  color: $lime-green;
}

.nav__link,
.a11y__link,
.nav__link:hover,
.a11y__link:hover {
  transition: color linear 0.2s;
}

.footer_button {
  margin-bottom: calc(20px / 2);
}

.copywrite {
  color: $grayish-blue;
}

@media (min-width: $mobile) {
  footer {
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: $padding-left-mobile;
    padding-right: $padding-right-mobile;
  }

  .social__media--list {
    flex-wrap: nowrap;
  }

  .social__media--list-item {
    margin-left: 5px;
    margin-right: 5px;
  }

  .footer__section--two {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .footer__list--item,
  .a11y__list--item {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .nav__link {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .footer_button {
    margin-bottom: 20px;
  }
}

@media (min-width: $tablet) {
  footer {
    padding-left: $padding-left-desktop;
    padding-right: $padding-right-desktop;
    padding-top: 60px;
    padding-bottom: 60px;
    flex-wrap: wrap;
  }

  footer h1 {
    margin-bottom: 30px;
  }

  footer,
  .footer__section--two {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer__section--one,
  .footer__section--two {
    text-align: justify;
  }

  .footer__list--item,
  .a11y__list--item {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 27px;
  }

  .footer__title {
    margin: 0;
  }

  .social__media--list {
    justify-content: unset;
  }

  .footer__section--one {
    flex-basis: 50%;
  }

  .footer__section--two {
    flex-basis: 50%;
  }

  .footer__section--three {
    flex-basis: 100%;
    text-align: center;
  }
}

@media (min-width: $desktop) {
  footer {
    flex-wrap: nowrap;
  }

  .footer__section--two,
  footer h1 {
    margin-top: 0;
  }

  .footer__section--three {
    text-align: right;
  }

  .footer__section--one,
  .footer__section--three {
    flex-basis: 30.5%;
  }

  .footer__section--two {
    flex-basis: 30%;
    margin-bottom: 0;
    gap: 20px;
  }

  .footer__list--item,
  .a11y__list--item {
    line-height: 34px;
  }
}
