@import "./variable";

.masthead {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: $padding-left-mobile;
  padding-right: $padding-right-mobile;
}

.masthead__title {
  margin: 0;
}

.masthead__title--link {
  background-image: url("#{$image-path}logo.svg");
}

.header {
  background-color: $very-light-gray;
  padding-bottom: 60px;
}

.header__image {
  background-image: url("#{$image-path}bg-intro-mobile.svg");
  background-size: cover;
  background-position-y: 50%;
  @include common-background-style;
}

.header__article {
  text-align: center;
}

.header__article {
  padding-left: $padding-left-mobile;
  padding-right: $padding-right-mobile;
}
// .header__article--heading {
//   color: $dark-blue;
// }

// .header__article--heading,
// .header__article--paragraph {
//   font-weight: $lighter;
// }

.header__article--paragraph {
  color: $grayish-blue;
  margin-bottom: 20px;
  margin-top: 20px;
}
