@import "./variable";

.masthead {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: calc($padding-left-mobile / 2);
  padding-right: calc($padding-right-mobile / 2);
}

.masthead {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: calc($padding-left-mobile / 2);
  padding-right: calc($padding-right-mobile / 2);
  background-color: white;
  position: fixed;
  top: 0;
  width: -webkit-fill-available;
  height: 37px;
  z-index: 2;
  box-shadow: 0px 0.1px 3px $grayish-blue;
}

.masthead__article--button {
  display: none;
}

.masthead__title {
  margin: 0;
}

.masthead__title--link {
  background-image: url("#{$image-path}logo.svg");
}

.header {
  background-color: $very-light-gray;
  padding-bottom: calc(60px / 2);
}

.header__image {
  background-image: url("#{$image-path}bg-intro-mobile.svg");
  background-size: cover;
  background-position-y: 50%;
  @include common-background-style;
}

.header__article {
  text-align: center;
}

.header__article {
  padding-left: calc($padding-left-mobile/2);
  padding-right: calc($padding-right-mobile/2);
}

.header__article--paragraph {
  color: $grayish-blue;
  margin-bottom: calc(20px / 2);
  margin-top: calc(20px / 2);
}

@media (min-width: $mobile) {
  .masthead {
    flex-direction: row;
    align-items: center;
    padding-left: $padding-left-mobile;
    padding-right: $padding-right-mobile;
  }

  .header {
    padding-bottom: 60px;
  }

  .header__article {
    padding-left: $padding-left-mobile;
    padding-right: $padding-right-mobile;
  }

  .header__article--paragraph {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

@media (min-width: $tablet) {
  .masthead {
    position: unset;
    width: unset;
    height: unset;
    z-index: unset;
  }
}

@media (min-width: $desktop) {
  .masthead {
    padding-left: 100px;
    padding-right: 100px;
  }

  .header {
    display: flex;
    flex-direction: row-reverse;
    padding-left: $padding-left-desktop;
    padding-bottom: 0;
    max-height: 650px;
  }

  .masthead__title--link,
  .masthead__article--button {
    flex-basis: 30%;
  }

  .masthead__article--button {
    display: block;
    max-width: max-content;
  }

  .nav_wrapper {
    flex-basis: 40%;
    width: 100%;
  }

  .header__article--heading {
    font-size: 60px;
  }

  .header__article {
    text-align: unset;
    align-self: center;
    padding-left: unset;
    padding-right: unset;
    max-width: 584px;
    flex-basis: 40%;
  }

  .header__picture {
    background-image: none;
    max-width: 100%;
    width: 100%;
    flex-basis: 60%;
  }

  .header__image {
    background-image: none;
    max-width: max-content;
    float: right;
    clear: both;
  }

  .image__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }

  .header__picture {
    background-image: url("#{$image-path}bg-intro-desktop.png");
    background-position: 0 calc(650px - calc(958px - 50px));
    background-repeat: no-repeat;
    padding-left: 0;
    padding-bottom: 0;
  }
}
