@import "./variable";

.masthead {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: calc($padding-left-mobile / 2);
  padding-right: calc($padding-right-mobile / 2);
}

.masthead__article--button {
  display: none;
}

.masthead__title {
  margin: 0;
}

.masthead__title--link {
  background-image: url("#{$image-path}logo.svg");
}

.header {
  background-color: $very-light-gray;
  padding-bottom: calc(60px / 2);
}

.header__image {
  background-image: url("#{$image-path}bg-intro-mobile.svg");
  background-size: cover;
  background-position-y: 50%;
  @include common-background-style;
}

.header__article {
  text-align: center;
}

.header__article {
  padding-left: calc($padding-left-mobile/2);
  padding-right: calc($padding-right-mobile/2);
}

.header__article--paragraph {
  color: $grayish-blue;
  margin-bottom: calc(20px / 2);
  margin-top: calc(20px / 2);
}

@media (min-width: 300px) {
  .masthead {
    flex-direction: row;
    align-items: center;
    padding-left: $padding-left-mobile;
    padding-right: $padding-right-mobile;
  }

  .header {
    padding-bottom: 60px;
  }

  .header__article {
    padding-left: $padding-left-mobile;
    padding-right: $padding-right-mobile;
  }

  .header__article--paragraph {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

@media (min-width: 800px) {
  .header {
    display: flex;
    flex-direction: row-reverse;
    padding-left: $padding-left-desktop;
  }

  .masthead__article--button {
    display: block;
  }

  .header__article--heading {
    font-size: 64px;
  }

  .header__article {
    text-align: unset;
    align-self: center;
    padding-left: unset;
    padding-right: unset;
  }

  .header__article,
  .header__picture {
    flex-basis: 50%;
  }

  .header__image {
    background-image: url("#{$image-path}bg-intro-desktop.svg");
  }
}
