@import "./variable";

.navigation {
  display: none;
  background: linear-gradient(hsla(233, 26%, 24%, 0.5),hsla(233, 8%, 62%, 0.5), hsla(0, 0%, 100%, 0.5));
  position: fixed;
  top: 5.5%;
  left: 0;
  right: 0;
  height: 100vh;
}

.navigation__list {
  position: relative;
  top: 3%;
  background-color: #ffffff;
  text-align: center;
  max-width: 90%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  opacity: 1;
}

.menu {
  background-image: url("#{$image-path}icon-hamburger.svg");
  width: 24px;
}

.menu,
.toggle__menu:checked ~ .menu {
  @include common-background-style;
  display: block;
  background-position-y: center;
  cursor: pointer;
}

.navigation__list--item {
  margin-top: 20px;
  margin-bottom: 20px;
}

.navigation__link {
  color: #2d314d;
  font-weight: bold;
}

.toggle__menu {
  display: none;
}

.nav_wrapper > .toggle__menu:checked ~ .navigation {
  display: block;
}

.toggle__menu:checked ~ .menu {
  background-image: url("#{$image-path}icon-close.svg");
}
