@import "./variable";

.navigation {
  display: none;
  background: linear-gradient(
    hsla(233, 26%, 24%, 0.5),
    hsla(233, 8%, 62%, 0.5),
    hsla(0, 0%, 100%, 0.5)
  );
  position: fixed;
  top: 5.5%;
  left: 0;
  right: 0;
  height: 100vh;
}

.navigation__list {
  position: relative;
  top: 3%;
  background-color: #ffffff;
  text-align: center;
  max-width: 90%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  opacity: 1;
}

.navigation__link:hover {
  color: $lime-green;
}

.navigation__link:hover,
.navigation__link {
  transition: color linear 0.2s;
}

.menu {
  background-image: url("#{$image-path}icon-hamburger.svg");
  background-color: #FFFFFF;
  width: 24px;
}

.menu,
.toggle__menu:checked ~ .menu {
  @include common-background-style;
  display: block;
  background-position-y: center;
  cursor: pointer;
}

.navigation__list--item {
  margin-top: 20px;
  margin-bottom: 20px;
}

.navigation__link {
  color: #2d314d;
  font-weight: $regular;
}

.toggle__menu {
  display: none;
}

.nav_wrapper > .toggle__menu:checked ~ .navigation {
  display: block;
}

.toggle__menu:checked ~ .menu {
  background-image: url("#{$image-path}icon-close.svg");
  position: fixed;
  top: 10px;
  right: 20px;
}

@media (min-width: $tablet) {
  .navigation {
    display: flex;
    flex-direction: row;
    background: unset;
    position: unset;
    top: unset;
    left: unset;
    right: unset;
    height: unset;
  }

  .navigation__list {
    display: flex;
    justify-content: space-between;
    position: unset;
    top: unset;
    background-color: #ffffff;
    text-align: unset;
    max-width: unset;
    margin: auto;
    padding-top: 0;
    padding-bottom: 0;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    opacity: unset;
    width: 100%;
  }

  .menu {
    background-image: unset;
    width: unset;
  }

  .menu,
  .toggle__menu:checked ~ .menu,
  .toggle__menu,
  .menu {
    display: none;
  }

  .navigation__list--item {
    margin-top: 20px;
    padding-bottom: calc(20px + 3px);
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .navigation__link {
    color: $grayish-blue;
  }

  .navigation__link:hover {
    color: #2d314d;
  }

  .navigation__list--item:hover {
    border-bottom: 3px solid $lime-green;
    padding-bottom: 20px;
  }

  .navigation__link:hover,
  .navigation__link,
  .navigation__list--item:hover,
  .navigation__list--item {
    transition: border linear 0.2s;
  }

  .nav_wrapper > .toggle__menu:checked ~ .navigation {
    display: block;
  }

  .toggle__menu:checked ~ .menu {
    background-image: url("#{$image-path}icon-close.svg");
  }
}
