@import "./variable";

.section__recommendation {
  background-color: $light-grayish-blue;
  padding-top: calc(40px / 2);
  padding-bottom: calc(40px / 2);
  text-align: center;
  padding-left: calc($padding-left-mobile / 2);
  padding-right: calc($padding-right-mobile / 2);
}

.section__recommendation--title {
  display: none;
}

.capability {
  font-weight: $bold;
}

.capability__icon {
  max-width: calc(70px / 2);
}

.capability__list--item {
  margin-top: calc(40px / 2);
  margin-bottom: calc(40px / 2);
}

@media (min-width: $mobile) {
  .section__recommendation {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: $padding-left-mobile;
    padding-right: $padding-right-mobile;
  }

  .capability__icon {
    max-width: 70px;
  }

  .capability__list--item {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media (min-width: $tablet) {
  .capability__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

@media (min-width: $desktop) {
  .section__recommendation {
    text-align: unset;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: $padding-left-desktop;
    padding-right: $padding-right-desktop;
  }

  .recommendation__article {
    max-width: 60%;
  }

  .recommendation__article--heading {
    font-size: 32px;
  }

  .capability__list {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
