@import "./variable";

.section__latest--article {
  padding-left: calc($padding-left-mobile/2);
  padding-right: calc($padding-right-mobile/2);
  padding-top: calc(60px / 2);
  padding-bottom: calc(60px / 2);
  background-color: $very-light-gray;
}

.card {
  border-radius: calc(12px / 2);
  background-color: #ffffff;
  margin-top: calc(20px / 2);
  margin-bottom: calc(20px / 2);
}

.latest__article--image {
  border-top-left-radius: calc(12px / 2);
  border-top-right-radius: calc(12px / 2);
}

.wrapper {
  padding-left: calc(20px / 2);
  padding-right: calc(20px / 2);
  padding-top: calc(20px / 2);
  padding-bottom: calc(30px / 2);
}

.article__image--caption {
  font-size: calc(12px - 4px);
  color: $grayish-blue;
}

@media (min-width: $mobile) {
  .section__latest--article {
    padding-left: $padding-left-mobile;
    padding-right: $padding-right-mobile;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .card {
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .latest__article--image {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .article__image--caption {
    font-size: 12px;
  }
}

@media (min-width: $tablet) {
  .latest__article--wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

@media (min-width: $desktop) {
  .latest__article--wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .section__latest--article {
    padding-left: $padding-left-desktop;
    padding-right: $padding-right-desktop;
  }

  .wrapper {
    padding-bottom: 0;
  }
}
