@import "./variable";

.section__latest--article {
  padding-left: $padding-left-mobile;
  padding-right: $padding-right-mobile;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $very-light-gray;
}

.card {
  border-radius: 12px;
  background-color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.latest__article--image {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.article__image--caption {
  font-size: 14px;
  color: $grayish-blue;
}
