// Mixin

@mixin reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin common-background-style {
  background-repeat: no-repeat;
  text-indent: -9999px;
}

// Font

// Primary
$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);

// Neutral
$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Weight
$lighter: 300;
$regular: 400;
$bold: 700;

// Images and icons path
$image-path: "../images/";
$font-path: "../fonts/";

// Padding
$padding-left-mobile: 20px;
$padding-right-mobile: 20px;
$padding-left-desktop: 100px;
$padding-right-desktop: 100px;

//Breakpoint
$mobile: 300px;
$tablet: 600px;
$desktop: 1100px;